.content
  margin-top 4u

.roleText
  font-size 2.4u
  font-weight 200
  line-height 3u

.waitText
  margin-top 2u
  font-size 2u

.chat
  margin-top 3u

.title
  font-size 2.4u
  font-weight 200
  line-height 3u

.actions
  margin-top 2u
  flex-direction row

.questionTypeText
  color #989898
  font-size 1.4u

.questionText
  margin-top 1u

.answerField
  margin-top 1u

.nextButton
  margin-left 1u
