.root
  border-top-width 1px
  border-color #dcdcdc
  padding-bottom 2u
  padding-top 2u

.switch
  margin-top 2u
  flex-direction row
  justify-content space-between

.titleWrapper
  flex-direction row
  justify-content space-between
  align-items center

.title
  font-size 2u
