.root
  margin-top 1u

.textLabel
  font-size 1.5u
  font-weight 300
  line-height 3u
  color #747c95

.errorText
  color #cb5a5a
  margin-bottom gutter(s)

.row
  width: 45%;

.error
  margin-top 1u
