.title
  font-size 2.4u
  font-weight 200
  line-height 3u

.cards
  margin-top 4u
  flex-direction row
  flex-wrap wrap
  margin-left - 2u

.card
  min-width 20u
  max-width 82u
  flex 1
  margin-top 2u
  margin-left 2u

.cardTitle
  font-size 2.2u
  font-weight bold

.cardDesc
  margin-top 1u

.cardRounds
  margin-top 1u

.createButton
  margin-top 2u

.actions
  flex-direction row

.titleWrapper
  flex-direction row
  align-items center
  justify-content space-between
