.title
  font-size 2.4u
  font-weight 200
  line-height 3u

.cards
  margin-top 4u
  flex-direction row
  flex-wrap wrap
  margin-left - 2u

.card
  min-width 20u
  max-width 82u
  flex 1
  margin-top 2u
  margin-left 2u
  position relative

.cardTitle
  font-size 2.2u
  font-weight bold
  &.canDelete
    margin-right 2u

.cardDesc
  margin-top 1u
  color #ababab

.cardRounds
  margin-top 1u

.createButton
  margin-top 2u

.actions
  flex-direction row

.titleWrapper
  flex-direction row
  align-items center
  justify-content space-between

.cardQuestions
  margin-top 1u

.deleteCard
  position absolute
  right 2u
  top 2u

.splashScreen
  margin-top 4u
