.wrapper
  flex-grow 1
  justify-content flex-end

.message
  margin-bottom gutter()

  &-smallBr
    margin-bottom 0.5u

.noContent
  flex 1
  align-items center
  justify-content center
  //+web()
  //  padding auto
